:root {
    font-size: calc(20px + (12 * (100vw - 320 px) / 880));
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: calc(100% - 1.5rem);
    margin: 0 auto;
}

/* ============ header =========================== */

header {
    margin-bottom: 3.5rem;
}

/* =============== header switch lang ================= */

.swich {
    display: flex;
    justify-content: end;
    margin-top: 0.5rem;
}

.swich-container {
    position: relative;
    width: 30%;
    height: 1.5rem;
    display: flex;
    justify-content: end;
}

.div-swich {
    width: 3.5rem;
    height: 1.5rem;
    position: relative;
}

.z1 {
    width: 100%;
    height: 0.1rem;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.z2 {
    width: 0.33rem;
    height: 0.9rem;
    background-color: #fff;
    border: 0.1rem solid black;
    border-radius: 0.15rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    transition: left 0.5s ease;
}

.btn-en {
    background-color: transparent;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: #fe422b;
    border: none;
}

.btn-ru {
    background-color: transparent;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: #fe422b;
    border: none;
}

/* =============== header animation ============= */

hgroup p {
    font-size: 1.3rem;
    background: #FFFA8D;
    margin-top: -0.5rem;
    padding: 0.7rem 0 0.7rem 0;
    box-shadow: -2.6rem 0px 0px 0px rgba(255, 250, 141, 1), 0.6rem 0px 0px 0px rgba(255, 250, 141, 1);
}

.cash {
    color: #41FF81;
}

@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
    .nominalo {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 48%, rgba(255, 255, 255, 1) 49%, rgba(255, 250, 141, 1) 50%, rgba(255, 255, 255, 1) 51%, rgba(0, 0, 0, 1) 52%);
        background-size: 220%;
        background-position: right;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: nominalo 0.9s 1 linear forwards 0.5s;
    }


    @keyframes nominalo {
        from {
            background-position: right;
        }

        to {
            background-position: left;
        }
    }


    .cash {
        background: linear-gradient(90deg, rgba(65, 255, 129, 1) 48%, rgba(255, 255, 255, 1) 49%, rgba(255, 250, 141, 1) 50%, rgba(255, 255, 255, 1) 51%, rgba(65, 255, 129, 1) 52%);
        background-size: 220%;
        background-position: right;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: cash 0.50s 1 linear forwards 1.4s;
    }

    @keyframes cash {
        from {
            background-position: right;
        }

        to {
            background-position: left;
        }
    }

    strong {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 49%, rgba(255, 255, 255, 1) 50%, rgba(255, 250, 141, 1) 51%);
        background-size: 220%;
        background-position: right;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: strong 3.1s 1 linear forwards 1.9s;
    }

    @keyframes strong {
        from {
            background-position: right;
        }

        to {
            background-position: left;
        }
    }
}

/* ================= main =================== */

section {
    margin-bottom: 3.5rem;
}

h2 {
    background-image: url(img/flag.svg);
    background-repeat: no-repeat;
    background-position: -0.25rem 0;
    text-indent: 1.5rem;
}


.defense,
.down,
.call {
    padding-left: 1rem;
}

h3.down::before {
    content: url(img/down.svg);
}

h3.defense::before {
    content: url(img/defense.svg);
}

h3.call::before {
    content: url(img/call.svg);
}

button {
    cursor: pointer;
}

.start-btn,
.api-btn {
    width: 30%;
    height: 1.7rem;
    border: none;
    border-radius: 0.2rem;
}

.start-btn {
    background-color: #41FF81;
}

.start-btn:active {
    background-color: #2eb35a;
}

.api-btn {
    background-color: #ff9dd0;
}

.api-btn:active {
    background-color: #995e7d;
}

.two-button {
    display: flex;
    flex-direction: column;
}

.two-button .api-btn {
    margin-top: 1rem;

}

/* ======== footer ======================== */

footer {
    width: 100%;
    height: 6rem;
}

.up-btn {
    width: 35%;
    height: 2rem;
    margin: 0 0 0 55%;
    background-color: #FFFA8D;
    border: none;
    border-radius: 0.2rem;
}

.up-btn:active {
    background-color: #ccc871;
}

.up-btn img {
    vertical-align: middle;
}